<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AZURE_RESOURCEGROUP" value=""/>
    <add key="AZURE_TENANT_ID" value=""/>
    <add key="AZURE_SUBSCRIPTION_ID" value=""/>
    <add key="AZURE_CLIENT_ID" value=""/>
    <add key="AZURE_SECRET" value=""/>
    <add key="AZURE_LOCATION" value=""/>
    <add key="CRM_ORGNAME" value=""/>
  </appSettings>
</configuration>